@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Yusei Magic', sans-serif;
}
nav {
  padding: 5px 0px;
  background: linear-gradient(to left, red, blue);
  #NavContentWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    h2 {
      color: aliceblue;
    }
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      li {
        list-style: none;
        margin: 0px 20px;
        color: white;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          text-shadow: 1px 1px 10px white;
        }
      }
    }
    #Burger {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    ul {
      flex-direction: column;
      position: fixed;
      top: 0;
      right: 0;
      width: 50%;
      height: 100vh;
      background: purple;
      justify-content: center !important;
      transform: translate(100%);
      transition: 0.3s;
      li {
        margin: 10px 0px !important;
      }
    }
    #Burger {
      display: block !important;
      z-index: 10;
      div {
        width: 25px;
        height: 3px;
        background: white;
        margin: 5px 0px;
        transition: 0.3s;
      }
    }
  }
  .nav-active {
    transform: translate(0) !important;
  }
}
.toogle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toogle .line2 {
  opacity: 0;
}
.toogle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
